.btn.btn-white {
    background: #FF6A3D; 
    border-radius: 50px;}
    .btn.btn-white:hover {
      border: 1px solid #FF6A3D;
      background: transparent;
      color: #FF6A3D; }
    .btn.btn-white.btn-outline-white {
      border: 1px solid #FF6A3D;
      background: transparent;
      color: #FF6A3D; }
      .btn.btn-white.btn-outline-white:hover {
        border: 1px solid transparent;
        background: #FF6A3D;
        color: #F4DB7D; }

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    border: none;
    border-radius: 50px;
    background: rgb(26,34,56);
    background: rgb(26,34,56);
    background: -moz-linear-gradient(90deg, rgba(26,34,56,1) 46%, rgba(54,71,117,1) 87%, rgba(92,103,134,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(26,34,56,1) 46%, rgba(54,71,117,1) 87%, rgba(92,103,134,1) 100%);
    background: linear-gradient(90deg, rgba(26,34,56,1) 46%, rgba(54,71,117,1) 87%, rgba(92,103,134,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a2238",endColorstr="#5c6786",GradientType=1);
    color: #fff;
      }

.btn-primary {
  color: #fff;
  background-color: #F4DB7D;
  border-color: #F4DB7D; }
  .btn-primary:hover {
    color: #fff;
    background-color: #F4DB7D;
    border-color: #F4DB7D; }
  .btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #F4DB7D;
    border-color: #F4DB7D; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #1a2238 ;
    background-color: #F4DB7D ;
    border-color: #F4DB7D ; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }